@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #25fb30;
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

body {
  background-color: #080e01;
}

/* set default font 12px/1.5 Arial, sans-serif */
body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}